h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
/*Smartphone Size*/
@media screen and (min-width: 340px) and (max-width: 580px) {
    body {
      background-color: rgb(212, 14, 212);
      background-image: url(images/Tulips.jpg);
      background-size: 150px 200px;
      background-repeat: repeat-y;
      background-position: left;
    }
  }
/*Mini Ipads Size*/
  @media screen and (min-width:581px) and (max-width: 767px) {
    body {
      background-color: rgb(91, 4, 117);
      background-image: url(images/Tree.jpg);
      background-size: 250px 300px;
      background-repeat: repeat-x;
      background-position: center;
      background-attachment: fixed;
      
    }
  }
 /*Tablets Size*/
  @media  screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      background-color: aqua;
      background-image: url(Images/Pinnaple.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
  }
   /*Laptops Size*/
   @media  screen and (min-width: 1025px) and (max-width: 1224px) {
    body {
      background-color: rgb(236, 233, 22);
      background-image: url(Images/Umbrella.jpg);
      background-size: 300px 600px;
      background-repeat: space;
      background-attachment: local;
    }
  }
     /*Big Screens Size*/
     @media  screen and (min-width: 1225px) and (max-width: 1824px) {
        body {
          background-color: rgb(43, 255, 0);
          background-image: url(Images/Donuts.jpg);
          background-size: 300px 300px;
          background-repeat: repeat;
          background-attachment: scroll;
        }
      }

